@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
:root{
  --primary-btn-bg: #00BFA6;
  --primary-btn-border-color: #00a38d;
  --primary-btn-hover-bg: #008372;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 0 !important;
  font-family: "Raleway";
}

.btn-primary{
  background-color: var(--primary-btn-bg);
  border-color: var(--primary-btn-brdr-color);
}

.btn-primary:hover{
  background-color: var(--primary-btn-hover-bg);
  border-color: var(--primary-btn-border-color);
}